{% extends "base.html" %}
{% block title %}Edit Student{% endblock %}
{% block content %}
<h1>Edit Student</h1>
<p class="subtitle">Update {{ student.name }}'s details.</p>

<div class="form-box" style="max-width: 500px;">
    <form method="POST">
        <label>Full Name</label>
        <input type="text" name="name" value="{{ student.name }}" required>

        <label>Roll Number</label>
        <input type="text" name="roll_no" value="{{ student.roll_no }}" required>

        <label>Course / Branch</label>
        <input type="text" name="course" value="{{ student.course or '' }}">

        <label>Email</label>
        <input type="email" name="email" value="{{ student.email or '' }}">

        <button type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}
